.js-hidden {
  display: none;
}

.text-center {
  text-align: center;
}

.drawer-option {
  padding: 16px;
}

.install-button {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}